*, *::after, *::before {
  box-sizing: border-box;
}
body {
  background-color: white;
  color: black;
  display: grid;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 22px;
  font-weight: normal;
  grid-template-columns: none;
  grid-template-rows: auto minmax(90vh, auto) auto;
  line-height: 1.5;
  line-height: inherit;
  margin: 0;
  max-width: 100%;
  min-height: 100%;
  padding: 0;
}
header, main, footer {
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
header {
  padding-top: 2rem;
}
header > h1 {
  color: #033035;
  margin: 0;
  padding: 0;
  line-height: 1;
}
h2 {
  color: #033035;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}
h2 + p {
  margin-top: 0;
}
pre {
  white-space: pre;
  overflow-x: auto;
  background-color: #033035;
  border-radius: 0.75rem;
  color: #f8fafc;
  padding: 1.25rem;
  width: fit-content;
  max-width: 100%;
}
code {
  font-size: 1.125rem;
  line-height: 1.2;
  background-color: lemonchiffon;
}
pre code { 
  white-space: pre-wrap;
  line-height: 1.75rem;
  background-color: transparent;
}


footer {
  background-color:#033035; ;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;

}
footer p { padding: 0; margin: 0; }
footer a,
footer a:visited { 
  color: lemonchiffon;
}